* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    color: #1C6FD1;
}

.sitelogo {
    width: 25vh;
}

.searchicon {
    width: 20px;
}

.slogan {
    color: white;
    font-size: 42px;
    font-family: "Open Sans", Arial, sans-serif;
    display: flex;

}

.slash {
    height: 50px;
}

.background {
    background-color: #002E47;
    background-image: url(./download.svg);
    background-repeat: no-repeat;
    background-position: right;
    height: 55vh;
    width: 100vw;
}



@media only screen and (max-width: 500px) {

    .siteLogo {
        width: 25vh;

    }