* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.siteLogo {
    width: 25vh;

}






@media only screen and (max-width: 500px) {

    .siteLogo {
        width: 25vh;

    }